.wrapper > div{
    background: grey;
    padding: 1em;
}

.wrapper > div:nth-child(odd){
    background: #ddd;
}

.wrapper {
    display: grid;
    /*grid-template-columns:1fr 1fr 1fr;*/
    grid-template-columns: repeat(3, 1fr );
    grid-gap: 1em;
}

.nested {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:1em;
    grid-auto-rows:minmax(50px, auto);
}
.nested > div{
    border: 1px solid #333;
    padding: 1em;
    
}